.TrainScehdule_topic {
    background: url('../../images/schedule.jpg')
    -20px -20px no-repeat;
    font-size:70px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  /* background-size: cover; */
  -webkit-text-stroke: 2px #0a0a0a;
  text-stroke: 2px #050408;
  
}

.bg-light1{
    min-height: 130vh;
    padding: 20px;
    max-width: 1500px;
    margin: auto;
    background-color: rgb(245, 245, 245);
}

.container-fluid{
    min-height: 100vh;
    padding: 20px; 
    background-size: cover;
    background-position: left;
    background-image: url('../../images/schedule.jpg');

}

.UpdateScehdule_topic { 
    font-size:70px;
    font-weight: bold;
    background-size: cover;
    -webkit-text-stroke: 2px #0a0a0a;
    text-stroke: 2px #050408;
  
}

.container-fluid2{
    min-height: 100vh;
    padding: 20px; 
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background: url('../../images/sheduleUpdate.jpeg')

}


  

