.TrainScehdule_topic {
    background: url('../../images/schedule.jpg')
    -20px -20px no-repeat;
    font-size:70px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  /* background-size: cover; */
  -webkit-text-stroke: 2px #0a0a0a;
  text-stroke: 2px #050408;
  
}

.bg-light{
    min-height: 100vh;
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

.container-fluid{
    min-height: 100vh;
    padding: 20px; 
    background-size: cover;
    background-position: left;
    background-image: url('../../images/schedule.jpg');

}


  

